<div class="articles-list__single border-bottom mb-4 border-primary row">
    <div class="col-12 col-md-4 d-none d-md-block">
        <div class="articles-list__single__head mb-2">
            <a class="text-dark" href="<%= articleData.articleLink %>" target="_blank">
                <img class="img-fluid" src="<%= articleData.articleProfImgLink %>"></img>
            </a>
        </div>
    </div>
    
    <div class="col-12 col-md-8">
        <div class="articles-list__single__head mb-2">
            <div class="articles-list__single__head__h3">
                <a href="<%= articleData.articleLink %>" target="_blank">
                    <h3 class="text-dark"><%= articleData.articleName %></h3>
                    <% articleData.ownCategs.forEach(function(categObj){ %>
                        <a href="/blog/articles/<%= categObj.articleCategoryId %>" target="_blank">
                            <span class="badge badge-success"><%= categObj.articleCategoryName %></span>
                        </a>
                    <% }); %>
                </a>
            </div>
        </div>
        
        <div class="articles-list__single__teaser">
            <div class="articles-list__single__teaser__p">
                <a class="text-dark" href="<%= articleData.articleLink %>" target="_blank">
                    <i><%= articleData.teaser %></i>
                </a>
            </div>
        </div>

        <div class="articles-list__single__head mb-2 d-md-none">
                <a href="<%= articleData.articleProfImgLink %>" target="_blank">
                <img class="img-fluid" src="<%= articleData.articleProfImgLink %>"></img>
            </a>
        </div>
    </div>
</div>