<% 
    name = registerUserData.name
    email = registerUserData.email
    password = registerUserData.password
    passwordConf = registerUserData.passwordConf
%>

<div title="register-form row">
    <div title="register-form__title col-12">
        <h3>Register</h3>
    </div>
    
    <form class="row" action="<%= postDataToRoute %>" title="register-form__form" method="post" enctype="multipart/form-data">
        <div class="col-12 col-lg-8">
            <div class="form-group">
                <label for="user-name">Name</label>
                <input type="text" class="form-control" id="user-name" name='name' aria-describedby="enter your name" placeholder="enter your name" value="<%= name %>">
            </div>
    
            <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" class="form-control" id="email" name='email' aria-describedby="emailHelp" placeholder="Enter email" value="<%= email %>">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
    
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name='password' placeholder="Password" value="<%= password %>">
            </div>
    
            <div class="form-group">
                <label for="password-conf">Confirm Your Password</label>
                <input type="password" class="form-control" id="password-conf" name='passwordConf' placeholder="Password Confirmation" value="<%= passwordConf %>">
            </div>

            <button type="submit" class="btn btn-primary">Submit Registration</button>
            <a href="/auth/google-login/" class="btn btn-alert">Continue With Google</a>
        </div>

        <div class="col-12 col-lg-4">
            <div class="form-group">
                <input class="form-control-file image-browse-btn-sel" id="user-avatar-img" name="userAvatarImg" type='file'>
            </div>
            
            <div class="user-avatar-image-preview">
                <% if (typeof userRegisterData !== 'undefined') { %>
                    <img src="<%= articleProfImgLink %>" alt="" height="292px">
                    <input type="text" name="userAvatarImgLink" value='<%= userAvatarImgLink %>' hidden>
                <% } %>
            </div>
        </div>
    </form>
</div>