<%if (typeof articlesByCategoryArr !== 'undefined') { %>
    <% articlesByCategoryArr.forEach(function(articleData) { %>

        <div class="post">
            <div>
                <% articleData.ownCategs.forEach(function(categObj){ %>
                    <a class="category category--orange" href="/blog/articles/<%= categObj.articleCategoryId %>" target="_blank">
                        <span><%= categObj.articleCategoryName %></span>
                    </a>
                <% }); %>
            </div>
        
            <div class="post__container">
                <div class="post__container__header">
                    <h3 class="post__container__header__h3 post__container__header__h3--centered"><%= articleData.articleName %></h3>
                </div>
                    
                <div class="post__container__body">
                    <a href="<%= articleData.articleLink %>" target="_blank">
                        <div class="post__container__body__img">
                            <img src="<%= articleData.articleProfImgLink %>"></img>
                        </div>
        
                        <div class="fr-view post__container__body__teaser">
                            <p><%- articleData.teaser %></p>
                        </div>
                    </a>
                </div> <!-- post__container__body clearfix -->
            </div> <!-- post__container -->
        </div> <!-- post -->
        
    <% }); %>
<% } %>