<div>
    <form class='add-article-form' action="<%= postDataToRoute %>" method="POST" enctype="multipart/form-data">
        <% if (pageId === 'edit-article') { %>
            <input type="text" name="articleId" value='<%= articleData.articleId %>' hidden>
        <% } %>

        <div class="row">    
            <div class="col-12 col-lg-6">
                <div class="form-group">
                    <label for="#page-title">Page Title</label>
                    <input type="text" class="form-control" id="page-title" name='pageTitle' value='<%= articleData.pageTitle %>'>
                </div>
                
                <div class="form-group">
                    <label for="#article-name">Article Name</label>
                    <input type="text" class="form-control" id="article-name" name="articleName" value='<%= articleData.articleName %>'>
                </div>

                <% include _choose-article-cateogires.ejs %>
                
                <div class="form-group">
                    <label for="#teaser">Teaser</label>
                    <textarea type='text' class="form-control" id="teaser" name='teasersHtml' rows="5" ><%= articleData.teasersHtml %></textarea>
                </div>
            </div>
            
            <div class="col-12 col-lg-6">
                <div class="form-group mb-4">
                    <label for="#square-image-browse-btn">Choose a 400 * 400 Profile Image.</label>
                    <input class="form-control-file" id="square-image-browse-btn" name="squareArticleProfileImg" type='file'>
                    
                    <div id="square-article-image-preview" class="mt-2">
                        <% if (pageId === 'edit-article') { %>
                            <img src="<%= articleData.squareArticleProfileImgLink %>" alt="" height="292px">
                            <input type="text" name="currSquareArticleProfileImg" value='<%= articleData.squareArticleProfileImgFileName %>' hidden>
                        <% } %>
                    </div>
                </div>
                
                <div class="form-group mt-2">
                    <label for="#flat-image-browse-btn">Choose a 300 * 600 Profile Image.</label>
                    <input class="form-control-file image-browse-btn" id="flat-image-browse-btn" name="flatArticleProfileImg" type='file'>

                    <div id="flat-article-image-preview" class="mt-2">
                        <% if (pageId === 'edit-article') { %>
                            <img src="<%= articleData.flatArticleProfileImgLink %>" alt="" height="292px">
                            <input type="text" name="currflatArticleProfileImg" value='<%= articleData.flatArticleProfileImgFileName %>' hidden>
                        <% } %>
                    </div>
                </div>
                
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label for="#article-body">Example textarea</label>
                    <textarea type='text' class="form-control" id="article-body-editor" name='articleHtml' rows="30c"><%= articleData.articleHtml %></textarea>
                </div>
                <% if (pageId === 'publish-article') { %>
                    <button type="submit" class="btn btn-primary">Publish Article</button>
                <% } else if (pageId === 'edit-article') { %>
                    <button type="submit" class="btn btn-primary">Update Article</button>
                <% } %>
            </div>
        </div>
        
    </form>
</div>